---
layout: base.njk
title: Solomon Fenton-Miller
---
<h2 class="mt-8 mb-8 text-2xl font-serif-title md:mt-24 md:text-4xl">
    <span class="text-vivid-blue-600">Hi, my name is Solomon.</span>
</h2>

<p class="text-2xl">
    I'm a PhD student in educational policy at the University of Iowa. I focus on student success in higher education, particularly in online classes.
    <br>
</p>

<p class="text-xl">
    You can reach me via <a href="mailto:solomon-fenton-miller@uiowa.edu">email</a>, <a href="https://www.linkedin.com/in/solomon-fenton-miller/" target="_blank">LinkedIn</a>, and on <a href="https://github.com/solomonfentonmiller" target="_blank">Github</a>.
</p>
