---
layout: base.njk
title: Solomon Fenton-Miller
---
<h2 class="mt-8 mb-8 text-2xl font-serif-title md:mt-24 md:text-4xl">
    I'm a creative human, software developer, and writer.
</h2>

<p class="text-2xl">
    Hi, my name is Solomon. I'm a PhD student in educational policy at the University of Iowa. I focus on student success in higher education, particularly in online classes.
</p>
