{% if page.url === '/' %}
  {% set pageTitle = title %}
{% else %}
  {% set pageTitle = title + ' - ' + 'Solomon Fenton-Miller' %}
{% endif %}

{% set pageDesc = 'Solomon Fenton-Miller' %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ pageDesc }}">
    
    <link rel="stylesheet" href="/main-compiled.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    {% if page.url === '/' %}
      <link rel="preload" href="/assets/merriweather-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    {% else %}
      <link rel="preload" href="/assets/merriweather-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
    {% endif %}
    <title>{{ pageTitle }}</title>
  </head>
  <body class="max-w-4xl px-6 font-sans text-lg text-gray-900 md:text-xl md:mx-auto">
    <header class="flex flex-col items-baseline mt-10 text-gray-700 md:flex-row">
      <h1 class="text-xl font-medium md:text-3xl md:font-normal"><a class="border-none hover:text-gray-700" href="/">Solomon Fenton-Miller</a></h1>
        <nav class="mt-2 text-lg md:mt-0 md:text-xl md:ml-auto">
          <a href="/reading" class="mr-4 md:mr-8 {% if page.url === '/reading/' %} current-page {% else %} border-none {% endif %}">Reading</a>
          <a href="/about" class="mr-4 md:mr-8 {% if page.url === '/about/' %} current-page {% else %} border-none {% endif %}">About</a>
        </nav>
    </header>
    <div class="max-w-2xl mx-auto">
      {{ content | safe }}

      <footer class="flex mt-16 mb-10 text-base text-gray-700">
        <p class="mx-auto">
        </p>
      </footer>
    </div>
  </body>
</html>
